
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    background-image: url("miunomator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    overflow: hidden;
}

h1{
    text-align: center;
    color: white;
    font-family: Helvetica;
    margin-top: 20px;
}

.small{
    font-size: 14pt;
    font-family: monospace;
    color: rgb(78, 161, 97);
    padding-right: 10px;
}

#complaint {
    font-family: "Alef Hebrew";
    font-size: 20pt;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 30px;
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.7);
}

#reload {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: arial;
    font-weight: bolder;
    border-color:Darkred;
    border-style: solid;
    text-align: center;
    font-size: 20pt;
    background: #f7aba3;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 10px;
    bottom: 1%;
    left: 10%;
    position: fixed;

}

#reload:hover {
    color: yellow;
    cursor: pointer;
}

#credits {
    text-align: left;
    color: yellow;
    bottom: 0%;
    left: 1%;
    position: fixed;
}
